.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.wrapper {
  max-width: 1370px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.grid-tictacttoe {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  width: 80vmin;
  height: 80vmin;
}

.case {
  height: calc(80vmin / 3);
  flex-basis: 30%;
  flex-grow: 1;
  border: 1px solid black;
}